{{template "base" .}}

{{define "content"}}
  <div class="container">
    <h1>Create new houshold</h1>
    <form action="create-a-household" method="post">
    <hr>

    <label for="name"><b>Name your household</b></label>
    <br>
    <input type="text" placeholder="Enter household name" name="name" id="name" required>
    <hr>

    <button type="submit" class="registerbtn">Create household</button>
  </form>
</div>
{{end}}