{{define "calendar"}}

<h4>Pick a date</h4>

<form action="date-picker" method="post">

    <input type="date" name="date" id="date" min="{{index .StringMap "today"}}" required>

    <button type="submit" class="btn btn-dark btn-sm">Show budget at that date</button>
</form>
{{if index .StringMap "picked-date"}}
    You'll have {{index .FloatMap "balance_by_date"}} by {{index .StringMap "picked-date"}}
{{end}}
{{end}}