{{define "fund"}}

<h4>Funds</h4>


<h4>Emergency fund</h4>
<p>
It is adviced to save 3 to 6 months worth of your recurring expenses as an emergency fund. 
You currently plan to save {{index .IntMap "emergency_fund_length"}} months. It amounts to {{index .FloatMap "emergency_fund_amount"}}
</p>
<p>
Here you can decide how many months of your normal expenses you want to save for your emergency fund.
<form action="change-emergency-fund" method="post">
    <label for="length"><b>Emergency fund length:</b></label>
    <input type="hidden" name="household_id" id="household_id" value="{{index .IntMap "household_id"}}">
    <input type="number" step="1" placeholder="{{index .IntMap "emergency_fund_length"}}" name="length" id="length" required>
    <button type="submit" class="registerbtn">Apply change</button>
</form>
</p>

<table class="table-sm">
    <thead>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {{range index .InterfaceMap "funds"}}
    <tr>

        <form action="edit-fund" method="post">
        <input type="hidden" name="fund_id" id="fund_id" value="{{.Id}}">

        <td>
            <input type="text" name="name" id="name" value="{{.Name}}" required>
        </td>

        <td>
            <input type="number" step="0.01" name="amount" id="amount" value="{{.Amount}}" required>
        </td>
        
        <td>
            <button type="submit" class="btn btn-warning btn-sm">Edit</button>
        </td>

        </form>

        <td>
        <form action="delete-fund" method="post">
        <input type="hidden" name="fund_id" id="fund_id" value="{{.Id}}">
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
        </td>
    
    </tr>
    {{end}}
    </tbody>
</table>


<b>Total funds: {{index .FloatMap "total_funds"}}</b>

<br>

<b>Add fund</b>

<form action="add-fund" method="post">

    <label for="name">Name</label>
    <input type="text" placeholder="Enter name" name="name" id="name" required>

    <label for="amount">Amount</label>
    <input type="number" step="0.01" placeholder="Enter amount" name="amount" id="amount" required>

    <button type="submit" class="btn btn-dark btn-sm">Add fund</button>
</form>

{{end}}