{{template "base" .}}

{{define "content"}}

<div class="container">
  <h1>{{index .StringMap "household_name"}}</h1>
  {{index .StringMap "username"}}'s household
  <div>
    <p>Invite a new household member (Feature coming soon)</p>
  </div>

  <div>

    <h2>Monthly</h2>
    
    <div class="row">
      <div class="col-6">{{template "income" .}}</div>

      <div class="col-6">{{template "monthly-expense" .}}</div>
    </div>

    <h3>Monthly balance</h3>
    <p> Your monthly balance is {{index .FloatMap "monthly_balance"}}. </p>

  </div>

  <hr>

  <div>

   <h2>Long term</h2>
    
    <div class="row">
      <div class="col-6">{{template "savings" .}}</div>

      <div class="col-6">{{template "fund" .}}</div>
    </div>

  </div>

  <hr>

  <div>
    <h2>Planning</h2>

    <div class="row">
      <div class="col-8">{{template "upcoming-expenses" .}}</div>
      <div class="col-4">{{template "calendar" .}}</div>
    </div>
  </div>

</div>

{{end}}