{{template "base" .}}

{{define "content"}}
  <div class="container">
    <h1>Households</h1>

    {{if index .IntMap "household_id"}}
      <p>Your household</p>
    {{else}}
      <p>Create household</p>
    {{end}}
    
{{end}}