{{template "base" .}}

{{define "content"}}
<div class="container">
<h1>{{index .StringMap "household_name"}}</h1>


<div>
  <p>Invite a new household member (Feature coming soon)</p>
</div>

<div>
  <h2>Incomes</h2>
  <p>Edit income</p>
  <p>Delete income</p>

  <div>
    <h4>Add income</h4>

    <form action="add-income" method="post">
    <hr>

      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter name" name="name" id="name" required>

      <label for="amount"><b>Amount</b></label>
      <input type="number" step="0.01" placeholder="Enter amount" name="amount" id="amount" required>

    <hr>

      <button type="submit" class="registerbtn">Add income</button>
    </form>
  </div>
</div>

<div>
  <h2>Savings</h2>
</div> 

<div>
  <h2>Funds</h2>
</div>

<div>
  <h2>Emergency fund</h2>
  <p>In here you can decide how many months of your normal expenses you want to save for your emergency fund</p>
  {{index .IntMap "emergency_fund"}}
</div>

</div>

{{end}}