{{template "base" .}}

{{define "content"}}
  <div class="container">
    <h1>Your household</h1>
  <p>Invite a household member</p>
  <p>Incomes</p>
  <p>Edit income</p>
  <p>Add income</p>
  <p>Savings</p>
  <p>Add savings</p>

{{end}}